body {
    font-family: 'Courier New', Consolas, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #111320;
}

.navbar {
    background: linear-gradient(90deg, rgb(248, 75, 156) 0%, rgba(234,159,243,1) 50%, rgba(242,147,253,1) 100%);
    background-size: 200% 200%; 
    border: 10px; 
    padding: 10px;
    width: 15%;
    border-radius: 8px; 
    margin-top: 50px;
    transition: background 0.5s ease;
    animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    margin-right: 20px;
    position: relative;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background 0.3s ease;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

#text-box {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.page-name {
    margin-bottom: 1em;
    color: #7a7f8b;
    font-size: 50px;
    text-align: center;
    text-underline-offset: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.resolution-options ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.resolution-options ul li {
    margin-right: 10px;
}

.resolution-button {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.resolution-button:hover {
    background-color: #555;
}

#video {
    width: 750px;
    height: auto;
    display: block;
}


/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
    .navbar {
        width: 80%; /* Full width for smaller screens */
        margin-top: 10px;
    }

    .page-name {
        font-size: 30px; /* Smaller font size for mobile */
    }

    #video {
        width: 100%; /* Full width video on mobile */
        max-width: 700%;
    }

    .resolution-options ul {
        flex-direction: column; /* Stack resolution buttons vertically */
        margin-top: 10px;
    }

    .resolution-options ul li {
        margin-right: 0; /* Remove margin between buttons */
        margin-bottom: 10px;
    }
}
